.App{ 
  height: 100svh;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

header > .todo--header__text{
  color: var(--secondary-light-clr);
  text-shadow: 0 0 1rem var(--primary-dark-clr);
}

header:has(.todo--header__text){
  width: 100%;
  text-align: center;
  background-color: var(--primary-main-clr);
}

section:has(.inputContainer){
  display: grid;
  gap: 0.2rem;
  height: auto;
  padding: 2rem;
  max-width: auto;
  min-width: fit-content;
  grid-template-columns: repeat(auto-fit, minmax(3,1fr));
}

section > .inputContainer{
  padding: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.3rem; 

}

.inputContainer > input{
  border: none;
  border-bottom: 0.2rem solid var(--secondary-main-clr);
  background-color: transparent;
  color: var(--secondary-accent-clr);
  padding: 0 1em;
  width: 100%;
}

input::placeholder{
  color: var(--secondary-accent-clr);
}

section > .todo--btn__add{
  width: fit-content;
  padding: 0.5em;
  border: none;
  border-radius: 0.5rem;
  background: var(--primary-light-clr);
  margin: auto;
  color: var(--secondary-light-clr);
  transition: all 0.3s ease-in;
}
.todo--btn__add:hover{
  background-color: var(--primary-dark-clr);
}

main{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex-direction: column;
  width: 70%; 
}
main > .todo--task__container{
  border: 0.1rem solid var(--primary-accent-clr);
  padding: 0.5em;
  width: 100%;
  overflow-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
}

.todo--task__title{
  color: var(--secondary-main-clr);
  font-family: cursive;
  border-bottom: 0.1rem solid var(--primary-light-clr);
  display: flex;
  justify-content: space-between;
}
.todo--task__content{
  color: var(--secondary-accent-clr);
  font-style: italic;
}
.dltbtn{
  background: var(--primary-light-clr);
  color:var(--secondary-light-clr);
  width:4rem;
  height:100%;
  border-radius: 0.5rem;
  border: none;
  display: none;
}
 .dltbtn{
  display: block;
}