@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    /* ========= Color choices ========== */
    --primary-main-clr : hsl(229, 37%, 32%);
    --primary-accent-clr : hsl(304, 52%, 55%);
    
    --secondary-main-clr : hsl(46, 97%, 52%);
    --secondary-accent-clr : hsl(318, 28%, 88%);
    
    --primary-dark-clr: hsla(0, 0%, 0%, 0.623);
    --primary-light-clr: hsl(155, 17%, 51%);
    
    --secondary-dark-clr: hsl(37, 53%, 89%);
    --secondary-light-clr: hsl(0, 0%, 97%);

    /* ========= Font choices ========== */
    --primary-fs : clamp(1rem, 2.5vw, 2rem); 
    --secondary-fs : clamp(1.5rem,2.5vw, 4rem);
    --primary-ff : "Roboto", sans-serif;

    --gradient-main: linear-gradient(43deg, var(--primary-main-clr) 0%,
    var(--primary-accent-clr) 46%, 
    var(--secondary-main-clr) 100%)
}

*,::after,::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus{
    outline: none;
    box-shadow: none;
}

html, body{
    height:100vh;
    line-height: 1.3;
    font-family: var(--primary-ff);
    /* background-image: var(--gradient-main); */
}

p,
h1,
h2,
h3,
h4,
h5{
    overflow-wrap: break-word;
}

img{
    display: block;
    max-width: 100%;
}